@font-face {
    font-family: "Codec Pro";
    src: url("./fonts/CodecPro-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: "Codec Pro";
    src: url("./fonts/CodecPro-Italic.ttf") format("truetype");
    font-weight: normal;
    font-style: italic;
  }